
html {
	box-sizing: border-box ;
	color: #22252b ;
	font-family: "Roboto", sans-serif ;
	font-weight: 400 ;
	line-height: 1.1 ;
}

html *,
html *:before,
html *:after {
	box-sizing: inherit ;
}

html,
body {
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;
}

.sprite {
	display: none ;
}

.cards {
	bottom: 0px ;
	left: 0px ;
	list-style-type: none ;
	margin: 0px 0px 0px 0px ;
	overflow: auto ;
	overscroll-behavior: contain ;
	padding: 0px 0px 0px 0px ;
	position: fixed ;
	right: 0px ;
	scroll-snap-type: y mandatory ;
	top: 0px ;
	z-index: 2 ;
}

.cards:focus {
	outline: none ;
}

.cards__item {
	margin: 0px 0px 0px 0px ;
	max-height: 100vh ;
	padding: 0px 0px 0px 0px ;
	scroll-snap-align: start ;
}

.card {
	background-color: #ffffff ;
	border-top: 6px solid #e0005a ;
	display: flex ;
	flex-direction: column ;
	height: 100vh ;
	overflow: hidden ;
}

.card__index {
	color: #e0005a ;
	flex: 0 0 auto ;
	font-weight: 700 ;
}

.card__anchor {
	color: inherit ;
	text-decoration: none ;
}

.card__anchor:hover {
	text-decoration: underline ;
}

.card__title {
	flex: 1 1 auto ;
	font-weight: 900 ;
}

.card__logo {
	flex: 0 0 auto ;
	border-radius: 4px ;
}

.card__svg {
	display: block ;
	height: 100% ;
	width: 100% ;
}

/* Sweet spot for business card layout. */
@media ( min-aspect-ratio: 3/2 /* 1.5 */ ) and ( max-aspect-ratio: 6/3 /* 2.0 */ ) {
	.card {
		padding: 6vw 4vw 4vw 5vw ;
	}

	.card__index {
		font-size: 4vw ;
		margin-bottom: 2vw ;
	}

	.card__title {
		font-size: 10.5vw ;
	}

	.card__logo {
		align-self: flex-end ;
		height: 6vw ;
		width: 6vw ;
	}
}

/* Layout is too tall. */
@media ( max-aspect-ratio: 3/2 ) {
	.card {
		align-items: center ;
		padding: 5vw 4vw 4vw 5vw ;
		text-align: center ;
	}

	.card__index {
		font-size: 6vw ;
	}

	.card__title {
		flex: 0 0 auto ;
		font-size: 10.5vw ;
		margin: auto 0px auto 0px  ;
	}

	.card__logo {
		height: 6vw ;
		width: 6vw ;
	}
}

/* Layout is too wide. */
@media ( min-aspect-ratio: 6/3 ) {
	.card {
		padding: 8vh 8vh 8vh 8vh ;
	}

	.card__index {
		font-size: 8vh ;
		margin-bottom: 2vh ;
	}

	.card__title {
		font-size: 20vh ;
	}

	.card__logo {
		align-self: flex-end ;
		height: 10vh ;
		width: 10vh ;
	}
}
